<%# MODIFIED FILE: Overrides original _ticket_data_form to add Assigned Contact selection.
   Changes:
   - Adds select field 'assigned_contact_id' using helpdesk_select_customer_tag.
   - Keeps original Helpdesk customer fields and behavior intact.
   - Selected contact is linked to issue via controller patch (create/update). %>
<% if @issue.new_record? && !@copy_from && User.current.allowed_to?(:edit_helpdesk_tickets, @issue.project) && (@issue.tracker_id.to_s == HelpdeskSettings["helpdesk_tracker", @issue.project.id] || HelpdeskSettings["helpdesk_tracker", @issue.project.id] == 'all') %>
  <div class="email-template">
    <div class="helpdeks-ticket-line"></div>
    <% @issue.build_helpdesk_ticket if @issue.helpdesk_ticket.blank? %>
    <%= form.fields_for :helpdesk_ticket do |f| %>
      <div class="splitcontent">
        <div class="splitcontentleft">
          <p>
            <%= f.label_for_field("issue_helpdesk_ticket_attributes_contact_id_selected_contact", label: l(:label_helpdesk_contact), required: true) %>
            <%= helpdesk_select_customer_tag('customer_address', [[helpdesk_issue_customer_text_with_email(@issue.helpdesk_ticket), @issue.helpdesk_ticket.try(:from_address) || @issue.helpdesk_ticket.try(:contact_id)]], selected: @issue.helpdesk_ticket.try(:from_address) || @issue.helpdesk_ticket.try(:contact_id), include_blank: false, multiaddress: true, add_contact: true) %>
            <%= hidden_field_tag :customer_id, @issue.helpdesk_ticket.customer.try(:id), class: 'helpdesk-ticket-customer-id additional-contact-id' %>
            <%= link_to "#{l(:label_crm_contacts_cc)}/#{l(:label_crm_contacts_bcc)}", '#' , :onclick => "$('#mail_cc').show();$(this).hide();" %>
          </p>
          <div id="mail_cc" style="display:none;">
            <p>
              <label><%= l(:label_crm_contacts_cc) %></label>
              <%= text_field_tag('cc_addresses', '', :style => "width: 98%;") %>
            </p>

            <p>
              <label><%= l(:label_crm_contacts_bcc) %></label>
              <%= text_field_tag('bcc_addresses', '', :style => "width: 98%;") %>
            </p>
          </div>
          <p>
            <%= f.text_field :ticket_date, label: l(:label_helpdesk_ticket_date), size: 12, value: @issue.helpdesk_ticket.ticket_date.to_date, type: :date, required: true %>
            <%= f.text_field :ticket_time, size: 5, no_label: true, value: @issue.helpdesk_ticket.ticket_time %>
            <%= calendar_for('issue_helpdesk_ticket_attributes_ticket_date') %>
          </p>
        </div>

        <div class="splitcontentright">
          <p><%= f.select :source, helpdesk_tickets_source_for_select, label: l(:label_helpdesk_ticket_source) %></p>
          <p>
            <%= label_tag :helpdesk_send_as,  l(:label_helpdesk_send_as)%>
            <%= select_tag :helpdesk_send_as, options_for_select(helpdesk_send_as_for_select, params[:helpdesk_send_as]) %>
          </p>
          <p>
            <%= label_tag :assigned_contact_id, l(:field_assigned_to) %>
            <%= helpdesk_select_customer_tag('assigned_contact_id', [[@issue.contacts.try(:first).try(:name), @issue.contacts.try(:first).try(:id)]], selected: @issue.contacts.try(:first).try(:id), include_blank: true) %>
          </p>
        </div>

      </div>
      <div style="clear:both;"></div>
    <% end %>
  </div>
<% end %>

<%= javascript_tag do %>
  $('#customer_address').on('select2:select', function (e) {
      var data = e.params.data;
      $('.helpdesk-ticket-customer-id').val(data.value);
  });
<% end %>